body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ecf0f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.canvas {
  border: 1px solid #ecf0f1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-top: 10px;
  background-color: white;

}
.lab_left_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  .button{
    margin-top: 10px;
    margin-right: 40px;
  }
}
.lab_right_buttons {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  margin-left: 50px;
  .button{
    margin-top: 10px;
  }
}
.title{
  font-size: 17px;
  font-weight: 500;
  margin-bottom: 10px;
}
.tentative{
  position: relative;
  top: 10px;
  left: 3rem;
}
.counter{
  color:#c0392b;
  font-weight: 540;
}